.contact-me-link {
    color: black;
    text-decoration: none;
}

.contact-me-link:hover {
    text-decoration: none;
    border: none;
    color: white;
}

.contact-me-button:hover {
    border: none;
    color: white;
}

.about-description {
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
}

.about-description-sub {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}