.active-tab {
  border: black;
  background-color: lightgray;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  border: black;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.3s;
}

.non-active-tab {
  border-bottom: black;
  background-color: white;
  margin: 0 5px;
}

.resume-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume-dl-btn {
  margin: 30px 20px;
}
.references-dl-btn {
  margin: 30px 20px;
}
