.contact-layout-container {
  display: flex;
  flex-direction: row;
}

.contact-description {
  font-size: 3.5rem;
}

.contact-description-container,
.contact-form-container {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .contact-layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-description {
    font-size: 1.7rem;
  }
  .contact-description-container,
  .contact-form-container {
    width: 100%;
  }
}
