


@media only screen and (max-width: 600px) {
    .available-text {
        width: 90%;
    }
    .my-name {
        font-size: 4rem;
        margin-top: 20px;
    }
    .web-sub-header {
        font-size: 3.5rem;
        margin-top: 20px;
        
    }
  }
